<section class="flex flex-col md:flex-row gap-8 justify-center items-center">
  <article class="[&>p]:mb-4 [&>p>strong]:text-yellow-400 [&>p>strong]:font-semibold text-pretty order-2 md:order-1">
    <p>
      Hello! I'm José Ignacio Suárez Montiel, on the verge of completing my
      studies as a Systems Engineer at the National University of Colombia. I
      started creating a recycling mini-game to teach the little ones.
      <strong> Now I'm building all-ages creative solutions.</strong>
    </p>
    <p>
      I've led transformative efforts at my university. From curating and
      analising digital maturity data in executive leadership to empowering
      students in programming. Likewise, <strong
        >I've optimized workflows and integrated AWS and AI technologies into
        master classes</strong
      >.
    </p>
    <p>
      Beyond the code, <strong
        >my journey is marked by a commitment to <em class="italic">society</em></strong
      >. As a student representative, I've worked collaboratively to connect my
      field with the broader university community through hybrid presence
      initiatives, fostering student projects and hosting open events 🚀 Check
      them out!
    </p>
  </article>
  <img src="./about.webp" alt="José Ignacio Suárez Montiel" class="rounded-full size-48 order-1 md:order-2" />
</section>
